.slider {
    margin: @site-padding 0;
    padding: @site-padding * 2 0;
    &-big {
        background: url("../img/bg_gradient-colors_01.jpg") no-repeat center 0;
        height: @site-column * 11;
        overflow-x: hidden;
        padding: 0;
    }
    &__title {
        color: @brand-color;
        font-size: 24px;
        line-height: 30px;
        padding: @site-padding;
    }
    &__text {
        padding: @site-padding @site-padding * 2;
    }
}